@tailwind base;
@tailwind components;
@tailwind utilities;

body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow: hidden;
}

html {

    scroll-behavior: smooth;
}

/*Largura*/
::-webkit-scrollbar {
    width: 10px;
}
/*Fundo*/
::-webkit-scrollbar-track {
    background: #F0F2F5; 
} 
/*Onde segura*/
::-webkit-scrollbar-thumb {
    background: #d8dadd; 
}
/* Onde segura hover */
::-webkit-scrollbar-thumb:hover {
    background: #c6c7ca; 
}
